<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DerRosarotePanzer</title>

    <link rel="shortcut icon" type="image/png" sizes="64x64" href="assets/favicon64.png?cb=1">

    <link rel="stylesheet" href="/assets/style.css?cb=44" />
    <link rel="stylesheet" href="/assets/icons.css?cb=24" />
    <link rel="stylesheet" href="/assets/navigation.css?cb=1" />
    <script src="/assets/navigation.js?cb=1" defer></script>
</head>
<body>

<div class="container">

{% block nav %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
{% endblock %}

<div class="footer">
   Mit 💛 von einem anonymen Unterstützer erstellt. <br>
   Einige Bilder von <a class="mobilelink" target="_blank" href="http://icons8.com/">icons8.com</a>.
</div>
</div>

{% block scripts %} {% endblock %}

</body>
</html>
