{% extends "base.html" %}

{% block content %}
<div id="gallery"></div>
{% endblock %}

{% block scripts %}
<script type="module">
import PhotoSwipeLightbox from '/assets/photoswipe-lightbox.esm.js';

const lightbox = new PhotoSwipeLightbox({
  pswpModule: () => import('/assets/photoswipe.esm.js'),
  loop: false,
})
lightbox.on('change', panzerApp.updateGalleryHandler)
lightbox.init()
window.lightbox = lightbox
</script>

<script type="text/javascript" src="/assets/app.js?cb=17"></script>

<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="/assets/photoswipe.css">
{% endblock %}
